/*
Constants
*/
/*
Hides text in the margin
*/
/*
Turns a button into an icon
*/
/*
Centres a graphic or glyph inside an icon
*/
/*
Offers both the pixel and rem value of a single property
*/
/*
Offers both the pixel and rem values of a shorthand property
*/
/*
Offers the text size as both the pixel and rem value
*/
/*
Adds vendor prefixed to a property
*/
/*
Applies the "clearfix" hack to a container with floating content
*/
/*
	pin board / carousel
*/
section.gallery {
  position: relative;
  width: 250px;
  margin-bottom: 25px;
}
  section.gallery * {
    box-sizing: border-box;
    cursor: pointer; }

/*
	pin board toolbar
*/
section.gallery menu.gallery_toolbar {
  margin: 0;
  padding: 0; }
  section.gallery menu.gallery_toolbar button {
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    opacity: 0;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-indent: 60px;
    white-space: nowrap;
    /* Because of Internet Explorer 8 we can't have nice thing. */
    overflow: visible;
    text-indent: -999em;
    background-color: #ff6a00;
    border: none;
    display: inline-block;
    height: 40px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 40px;
    z-index: 500; }
  section.gallery menu.gallery_toolbar button:before {
    content: "";
    display: block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    background-image: url(../img/gallery.png); }
  section.gallery menu.gallery_toolbar button.gallery_tool_next {
    margin-top: -20px;
    right: 15px;
    top: 50%; }
  section.gallery menu.gallery_toolbar button.gallery_tool_next:before {
    background-position: 0 0; }
  section.gallery menu.gallery_toolbar button.gallery_tool_previous {
    left: 15px;
    margin-top: -20px;
    top: 50%; }
  section.gallery menu.gallery_toolbar button.gallery_tool_previous:before {
    background-position: 0 -32px; }
  section.gallery menu.gallery_toolbar button.gallery_tool_carousel {
    right: 15px;
    top: 15px; }
  section.gallery menu.gallery_toolbar button.gallery_tool_carousel:before {
    background-position: 0 -64px; }
  section.gallery menu.gallery_toolbar button.gallery_tool_pinboard {
    right: 15px;
    top: 15px; }
  section.gallery menu.gallery_toolbar button.gallery_tool_pinboard:before {
    background-position: 0 -96px; }
  section.gallery menu.gallery_toolbar button.gallery_tool_filter {
    right: 60px;
    top: 15px; }
  section.gallery menu.gallery_toolbar button.gallery_tool_filter:before {
    background-position: 0 -128px; }

section.gallery:hover menu.gallery_toolbar button,
section.gallery.gallery_interface_visible menu.gallery_toolbar button {
  opacity: 1; }

section.gallery:hover menu.gallery_toolbar button.gallery_tool_disabled,
section.gallery.gallery_interface_visible menu.gallery_toolbar button.gallery_tool_disabled {
  opacity: 1;
  background-color: #7f7f7f; }

/*
	pin board filter
*/
section.gallery form.gallery_filter {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background-color: #ff6a00;
  height: 40px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 105px;
  top: 15px;
  z-index: 400; }
  section.gallery form.gallery_filter fieldset.gallery_filter_groups {
    border: none;
    margin: 0;
    padding: 10px 8px 6px 8px; }
    section.gallery form.gallery_filter fieldset.gallery_filter_groups legend {
      display: none; }
    section.gallery form.gallery_filter fieldset.gallery_filter_groups label {
      color: #fff; }

section.gallery form.gallery_filter_hide {
  opacity: 0;
  visibility: hidden; }

section.gallery form.gallery_filter_show {
  opacity: 0;
  visibility: visible; }

section.gallery:hover form.gallery_filter_show,
section.gallery.gallery_interface_visible form.gallery_filter_show {
  opacity: 1; }

/*
	pin board pager
*/
section.gallery menu.gallery_pager {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background-color: rgba(0, 0, 0, 0.5);
  height: 48px;
  margin: 0;
  padding: 17px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 12px;
  text-align: center;
  z-index: 400; }
  section.gallery menu.gallery_pager li {
    border: solid 1px #fff;
    display: inline-block;
    list-style-type: none;
    margin: 0 5px 0 0;
    vertical-align: middle; }
    section.gallery menu.gallery_pager li a {
      background: #333 none;
      border: solid 1px #333;
      display: block;
      height: 5px;
      line-height: 1;
      overflow: hidden;
      text-indent: 10px;
      vertical-align: top;
      width: 5px; }
  section.gallery menu.gallery_pager li.gallery_pager_active a {
    background: #fff none; }
  section.gallery menu.gallery_pager li.gallery_pager_passive {
    border: solid 1px #fff; }
    section.gallery menu.gallery_pager li.gallery_pager_passive a {
      background: #ccc none;
      border: solid 1px #ccc; }

section.gallery:hover menu.gallery_pager,
section.gallery.gallery_interface_visible menu.gallery_pager {
  opacity: 1; }

/*
	pin board progress indicator
*/
section.gallery div.gallery_busy {
  background: #fff url(../img/busy_3.gif) no-repeat 50% 50%;
  border: solid 1px #000;
  display: none;
  height: 32px;
  left: 50%;
  margin: -16px 0 0 -16px;
  position: absolute;
  top: 50%;
  width: 32px;
  z-index: 400; }

/*
	carousel mode
*/
section.gallery.gallery_mode_carousel {
  height: 256px; }
  section.gallery.gallery_mode_carousel menu.gallery_toolbar button.gallery_tool_previous {
    display: block; }
  section.gallery.gallery_mode_carousel menu.gallery_toolbar button.gallery_tool_next {
    display: block; }
  section.gallery.gallery_mode_carousel menu.gallery_toolbar button.gallery_tool_pinboard {
    display: block; }
  section.gallery.gallery_mode_carousel menu.gallery_toolbar button.gallery_tool_carousel {
    display: none; }

/*
	pin board mode
*/
section.gallery.gallery_mode_pinboard {
  height: 512px; }
  section.gallery.gallery_mode_pinboard menu.gallery_toolbar {
    right: 18px; }
    section.gallery.gallery_mode_pinboard menu.gallery_toolbar button.gallery_tool_previous {
      display: none; }
    section.gallery.gallery_mode_pinboard menu.gallery_toolbar button.gallery_tool_next {
      display: none; }
    section.gallery.gallery_mode_pinboard menu.gallery_toolbar button.gallery_tool_pinboard {
      display: none; }
    section.gallery.gallery_mode_pinboard menu.gallery_toolbar button.gallery_tool_carousel {
      display: block; }
  section.gallery.gallery_mode_pinboard menu.gallery_pager {
    display: none; }

/*
	slides in carousel mode
*/
section.gallery div.gallery_slides {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 300; }

section.gallery article, section.gallery figure {
  background: linear-gradient(top, #eeeeee 0%, #ffffff 10%);
  transition-property: left, right, opacity;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease, ease, ease;
  left: 50%;
  top: 50%;
  overflow: hidden;
  position: absolute;
  height: 100%;
  margin: -100px 0 0 -100px;
  top: 50%;
  visibility: hidden;
  width: 100%; }
  section.gallery article img, section.gallery figure img {
    border: 0; }

section.gallery article {
  padding: 3%; }
  section.gallery article h3 {
    margin: 0 0 0.5em 0; }

section.gallery .gallery_carousel_farleft {
  left: -50%;
  top: 50%;
  visibility: hidden;
  z-index: 200; }

section.gallery .gallery_carousel_left {
  left: -50%;
  top: 50%;
  visibility: visible;
  z-index: 300; }

section.gallery .gallery_carousel_centre {
  left: 50%;
  top: 50%;
  visibility: visible;
  z-index: 400; }

section.gallery .gallery_carousel_right {
  left: 150%;
  top: 50%;
  visibility: visible;
  z-index: 300; }

section.gallery .gallery_carousel_farright {
  left: 150%;
  top: 50%;
  visibility: hidden;
  z-index: 200; }

/*
	slides in pin board mode
*/
section.gallery.gallery_mode_pinboard div.gallery_slides {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%; }

section.gallery.gallery_mode_pinboard article, section.gallery.gallery_mode_pinboard figure {
  height: auto !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: 44% !important; }

section.gallery.gallery_mode_pinboard .gallery_pinboard_loading {
  left: 25%;
  visibility: visible; }

section.gallery.gallery_mode_pinboard .gallery_pinboard_left {
  left: 3%;
  visibility: visible; }

section.gallery.gallery_mode_pinboard .gallery_pinboard_right {
  left: 51%;
  visibility: visible; }

/*
	invitation for interaction
*/
section.gallery div.gallery_hint {
  background: Transparent url(../img/gallery.png) no-repeat 0 -323px;
  position: absolute;
  right: 4px;
  bottom: 7px;
  height: 32px;
  width: 32px;
  z-index: 1000; }

section.gallery:hover div.gallery_hint,
section.gallery.gallery_interface_visible div.gallery_hint {
  visibility: hidden; }

/*
	slide content markup
*/
section.gallery article h3 {
  line-height: 0px; }

section.gallery article img {
  float: left;
  border: solid 1px #333;
  margin: 5px 10px 5px 0; }

section.gallery figure img {
  display: block;
  height: 98%;
  margin: 0 auto 0 auto;
  width: auto; }

section.gallery figure figcaption {
  opacity: 0.5;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 13px 15px;
  text-align: center; }

section.gallery.gallery_mode_pinboard figure img {
  height: auto;
  width: 100%; }
